@tailwind base;
@tailwind components;
@tailwind utilities;







@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --scrollbar-color: #4ade80;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: var(--scrollbar-color);
  border-radius: 999px;
}

::-webkit-scrollbar-thumb:hover {
  background: #22c55e;
}

::-webkit-scrollbar-button {
  display: none;
}

/* Hide scrollbar utility */
@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}